<div class="group">
    <h2>Tutorial</h2>
    <ul>
        <li><a href="/docs/uploading.html">Uploading a dataset</a></li>
        <li><a href="/docs/searching-data.html">Searching for data</a></li>
        <li><a href="/docs/searching-datasets.html">Searching for datasets</a></li>
        <li><a href="/docs/search-subscriptions.html">Subscribing to search results</a></li>
    </ul>
</div>

<div class="group">
    <h2>Problems + Solutions</h2>
    <ul>
        <li><a href="/docs/importing-fixed-width-files.html">Importing fixed-width files</a></li>
        <li><a href="/docs/importing-access-files.html">Importing Access files</a></li>
        <li><a href="/docs/importing-dbf-files.html">Importing DBF files</a></li>
        <li><a href="/docs/importing-unusual-csv-file-formats.html">Importing unusual CSV file formats</a></li>

        <li><a href="/docs/storing-related-files.html">Storing related files</a></li>
        <li><a href="/docs/searching-for-names.html">Searching for names</a></li>
        <li><a href="/docs/searching-for-phone-numbers.html">Searching for phone numbers</a></li>
        <li><a href="/docs/determining-the-encoding-of-a-csv-file.html">Determining the encoding of a CSV file</a></li>
        <li><a href="/docs/handling-unsupported-excel-features.html">Handling unsupported Excel features</a></li>
        <li><a href="/docs/dealing-with-two-digit-year-columns.html">Dealing with two-digit year columns</a></li>
        <li><a href="/docs/seeing-panda-data-on-a-map.html">Seeing PANDA data on a map</a></li>
        <li><a href="/docs/sorting-panda-data.html">Sorting PANDA data</a></li>
    </ul>
</div>

<div class="group">
    <h2>More questions?</h2>
    <ul>
        <li><a href="https://groups.google.com/forum/?hl=en&fromgroups#!forum/panda-project-users">Join the PANDA User Group &raquo;</a></li>
    </ul>
</div>

<div class="group">
    <h2>Administrator?</h2>
    <ul>
        <li><a href="http://panda.readthedocs.org/">Read the admin docs &raquo;</a></li>
    </ul>
</div>

