<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/normalize.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">

        <script src="javascripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

        {{ content }}
        
        <footer>
            <div class="container">
                <ul class="clearfix">
                    <li><a href="/about/">About the PANDA project</a></li>
                    <li><a href="/costs/">What it costs to run a PANDA</a></li>
                    <li><a href="/docs/">Read the documentation</a></li>
                </ul>
            </div>
            <div class="container">
                <p>Entypo pictograms by Daniel Bruce — <a href="http://www.entypo.com">www.entypo.com</a></p>
            </div>
        </footer>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
